.jumbotron{
    background-image: url(../Images/jumbo.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    height: calc(100vh - 25px);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.nav{
    background-color: rgb(107, 107, 107);
}

.nav a{
    color: white;
}

.display-4{
    padding-bottom: 5rem;
}

.jumboCopy{
    padding: 15px;
    margin-left: 60px;
    width:500px;
}